<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <fa-icon [icon]="faGlasses"></fa-icon>
      &nbsp;&nbsp;Optique Morand
    </span>
    <span class="flex-spacer"></span>
    <app-user-button></app-user-button>
    <app-store-selector></app-store-selector>
    <app-language-selector></app-language-selector>
  </mat-toolbar-row>
</mat-toolbar>
<div fxFlex fxLayout="column">
  <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)"
                 [selectedIndex]="selectedIndex">
    <mat-tab *ngFor="let link of dynTabService.navLinks">
      <ng-template mat-tab-label>
        <ng-container [ngSwitch]="link.type">
          <div mat-tab-label-content *ngSwitchCase="'CUSTOMERS'" i18n="@@CUSTOMERS">Customers</div>
          <div mat-tab-label-content *ngSwitchCase="'PRODUCTS'" i18n="@@PRODUCTS">Products</div>
          <div mat-tab-label-content *ngSwitchCase="'STORES'" i18n="@@STORES">Stores</div>
          <div mat-tab-label-content *ngSwitchCase="'PROVIDERS'" i18n="@@PROVIDERS">Providers</div>
          <div mat-tab-label-content *ngSwitchDefault>{{link.label}}</div>
        </ng-container>
        <button mat-icon-button *ngIf="NavLinkCloseable[link.type]"
                (click)="closeTab($event, link)">
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
