.st0 {
  fill: #FFFFFF;
}

.st1 {
  opacity: 0.7;
}

.st2 {
  fill: none;
}

.st3 {
  clip-path: url(#SVGID_2_);
}

.st4 {
  fill: #FFA000;
}

.st5 {
  opacity: 0.12;
  fill: url(#SVGID_3_);
  enable-background: new;
}

.st6 {
  fill: #F57C00;
}

.st7 {
  opacity: 0.2;
  fill: url(#SVGID_4_);
  enable-background: new;
}

.st8 {
  fill: #FFCA28;
}

.st9 {
  fill: #FFFFFF;
  fill-opacity: 0.2;
}

.st10 {
  opacity: 0.2;
  fill: #A52714;
  enable-background: new;
}

.st11 {
  fill: url(#SVGID_5_);
}

.st12 {
  opacity: 0.54;
}

.st13 {
  clip-path: url(#SVGID_7_);
}

.st14 {
  opacity: 0.12;
  fill: url(#SVGID_8_);
  enable-background: new;
}

.st15 {
  opacity: 0.2;
  fill: url(#SVGID_9_);
  enable-background: new;
}

.st16 {
  fill: url(#SVGID_10_);
}

.st17 {
  display: none;
}

.st18 {
  display: inline;
  fill: #00FFFF;
  fill-opacity: 0.2;
}
