<form>
    <mat-form-field fxFlex floatLabel="never">
        <input autocomplete="off" matInput i18n-placeholder="@@SEARCH_CUSTOMER" placeholder="Search customer" [formControl]="searchForm">
    </mat-form-field>
</form>
<div fxFlex class="table-container" fxLayout="column">
    <table mat-table matSort fxFlex [dataSource]="dataSource" multiTemplateDataRows>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@ID">Id</th>
            <td mat-cell *matCellDef="let element"> {{element.id}}</td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let element">
        <span [ngSwitch]="element.gender">
            <fa-icon [icon]="['fas', 'female']" size="2x" *ngSwitchCase="'FEMALE'" class="female"></fa-icon>
            <fa-icon [icon]="['fas', 'male']" size="2x" *ngSwitchDefault  class="male"></fa-icon>
        </span>
            </td>
        </ng-container>

        <!-- FirstName Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@FIRST_NAME">FirstName</th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}}</td>
        </ng-container>

        <!-- LastName Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@LAST_NAME">LastName</th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}}</td>
        </ng-container>

        <!-- BirthDate Column -->
        <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@BIRTH_DATE">Birth Date</th>
            <td mat-cell *matCellDef="let element"><span *ngIf="!!element.birthDate">{{element.birthDate | date : 'shortDate'}}</span>
            </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@ADDRESS">Address</th>
            <td mat-cell *matCellDef="let element"> {{element.address}}</td>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@PHONE_NUMBER">Phone number</th>
            <td mat-cell *matCellDef="let element"> {{element.phoneNumber}}</td>
        </ng-container>

        <!-- Country Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@EMAIL">Email</th>
            <td mat-cell *matCellDef="let element"> {{element.email}}</td>
        </ng-container>

        <!-- LastAccess Column -->
        <ng-container matColumnDef="lastAccessDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@LAST_ACCESS">Last access</th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="!!element.lastAccessDate">{{element.lastAccessDate | date : 'shortDate'}}</div>
                <mat-hint class="mat-caption" *ngIf="!!element.lastAccessDate">{{element.lastAccessDate | date :
                    'shortTime'}}
                </mat-hint>
            </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="th-toolbar"></th>
            <td mat-cell *matCellDef="let element" class="td-toolbar">
                <app-customer-row-toolbar *ngIf="element.id == overflownIdElement" [@toolbarAppear]
                                          [customer]="element"
                                          (editRequest)="editCustomer($event)"
                                          (deleteRequest)="deleteCustomer($event)"
                ></app-customer-row-toolbar>
            </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container cdkColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="element-detail"
                     [@detailExpand]="element.id == expandedIdElement ? 'expanded' : 'collapsed'">
                    {{element.about}}
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            class="element-row"
            (mouseenter)="mouseEnter(row)"
            (mouseleave)="mouseLeave()"
            [class.expandable-row]="!!row.details"
            [class.expanded-row]="expandedIdElement === row.id"
            (click)="expendElement(row.id)"
            (tap)="mouseEnter(row)">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
</div>
<app-customer-add-button class="floating-bottom-right"></app-customer-add-button>
