<form>
  <mat-form-field fxFlex>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</form>
<div fxFlex class="table-container" fxLayout="column">
  <table mat-table matSort fxFlex [dataSource]="dataSource" multiTemplateDataRows>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}}</td>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> FirstName</th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}}</td>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> LastName</th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}}</td>
    </ng-container>

    <!-- BirthDate Column -->
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Birth Date</th>
      <td mat-cell *matCellDef="let element"> <span *ngIf="!!element.birthDate">{{moment(element.birthDate).format('L')}}</span></td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Address</th>
      <td mat-cell *matCellDef="let element"> {{element.address}}</td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Phone number</th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}}</td>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 60px"></th>
      <td mat-cell *matCellDef="let element">
        <mat-toolbar>
          <app-customer-view-button [customer]="element"></app-customer-view-button>
          <app-customer-edit-button (editRequest)="editCustomer(element)"></app-customer-edit-button>
          <app-customer-delete-button (deleteRequest)="deleteCustomer(element)"></app-customer-delete-button>
        </mat-toolbar>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container cdkColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="element-detail" [@detailExpand]="element.id == expandedIdElement ? 'expanded' : 'collapsed'">
          {{element.details}}
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"
        [class.expandable-row]="!!row.details"
        [class.expanded-row]="expandedIdElement === row.id"
        (click)="expendElement(row.id)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
  <app-customer-add-button class="floating-bottom-right"></app-customer-add-button>
</div>
