/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0px;
}
.floating-bottom-right {
  position: absolute !important;
  right: 20px;
  bottom: 20px;
}
.flex-spacer {
  flex: 1 1 1e-09px;
}
